
$maxWidth: 100%;
$Height-100: 100%;
$colorWh: white;
$posAbsol: absolute;
$posRel: relative;
$ff_opensans: 'open_sansregular';
$ff_dosis: 'dosisregular';
$colorFE: #fefefe;
$mb-100: 100px;
$r-135deg: rotate(-135deg);
$r135deg:  rotate(135deg);
$transfScale1: scale(1);
$transfScale0: scale(0);
$transition: all .5s;
$LetterSP-10: 10px;
$padding-140: 140px 0;
$Color111111: #111111;
$Colorffffff: #ffffff;
$padding-0: 0;
$transform: translateY(-50%);
$null:0;