
.section-6 {
    padding: 70px;
	background: $Color111111;
	
	h3 {
		color: $Colorffffff;
		margin-bottom: 25px;
	}

	.btn {
		padding: 15px 40px;
		background-color: #cfcfcf;
		color: $Color111111;
		letter-spacing: 5px;
		outline: none;
		border-radius: 5px;
	}
}